*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif
}
.navbar-toggler-icon, .navbar-toggler{
background-color: black;
}
.navbar-expand-lg{
    background-color: rgb(172, 146, 109);
}
.container-fluid{
    background-color: rgb(172, 146, 109);
}
.myfooter{
    margin-top: 150px;
}
.nav-link{
    color: rgb(255, 255, 255);
    font-size: 22px;
}
.border1{
    border-radius: 80%;
}
.border2{
    border-radius: 20%;
}
#fontsize{
    font-size: 25px;
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 10px;
}
#acolor{
color: white;
text-decoration: none;
}
#font1{
    font-family:'Times New Roman', Times, serif;
}
.nav-link:hover{
    color: black;
}
.contai{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

.mc{
    border-bottom: 1px  solid black;
    text-align: center;
}
.mc1{
    
    text-align: center;
}